.inc-exp-container {
    background-color: #fff;
    box-shadow:10px 10px 5px rgb(140, 140, 187);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color:darkorchid;
  }
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  .inc-exp-container div:first-of-type {
    border-right: 5px solid #dedede;
  }
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
    color:
  }
  .money.plus {
    color: rgb(4, 61, 4);
    font-family:sans-serif;
  }
  
  .money.minus {
    color: #c0392b;
    font-family:sans-serif;
  }
  
  
